<div class="h-screen flex items-center justify-center bg-slate-50">
    <a href="/session/login" class="absolute top-[5%] left-[3%] text-white bg-purple-400 rounded-3xl p-3">
        <span class="material-icons-outlined" title="Regresa al inicio">
            arrow_back
        </span>
    </a>
    <div class=" flex justify-center items-center w-full">
        <form method="post" id="formRegister" action="/session/register">
            <div class="bg-white px-10 py-8 rounded-xl w-screen shadow-md max-w-sm">
                <div class="space-y-4">
                    <h1 class="text-center text-2xl font-semibold text-gray-600">
                        ¡Registro en demo!
                    </h1>
                    <div>
                        <label for="user" class="block mb-1 text-gray-600 font-semibold">
                            Email
                        </label>
                        <input class="bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" type="text" name="user" id="user"
                            placeholder="" required="required" />
                    </div>
                    <div>
                        <label for="email" class="block mb-1 text-gray-600 font-semibold">
                            Password
                        </label>
                        <input class="bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" type="text" name="password" id="password"
                            placeholder="" required="required" />
                    </div>
                </div>
                <div class="mt-8 flex justify-center items-center">
                    <Button class="bg-purple-500 text-white py-1 px-4 rounded ">Registrar</Button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const error = urlParams.get('Mesage');
    if (error) document.getElementById('error').innerText = error;



</script>