<section class="w-full flex flex-col gap-4 items-center justify-center mt-8">
    {{!-- <article>
        <h1 class="w-full font-bold text-4xl text-purple-600">Listado de productos con HANDLEBARS</h1>
    </article> --}}
    <div class="w-full" id="table"></div>
</section>